#introduction-start {
    padding-top: 20px;
}

.introduction {
    width: 90%;

    .text-container {
        width: 90%; 
        padding-bottom: 20px;    

        .text-details {
            width: 100%;
            height: 380px;
            padding: 0 10px;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // align-content: ;

            .text-resume {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .image-container {
        display: flex;
        flex-direction: row;
    }
}