.button-like,
.download-resume,
.submit-form,
.project-details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px;
  width: 150px;
  height: 50px; 
  border-radius: 10px;
}

// Introduction Section
.intro-left,
.intro-right {
  position: relative;
  // bottom: -70px;
  border-radius: 50%;
  // font-size: 1.3em;
}

.intro-left {
  right: -15px;
}

.intro-right {
  right: 15px;
}

.introduction-arrow {
  font-size: 1.5em;
}

.home-arrow { 
  // margin: 50px; 
  position: fixed;
  bottom: 20px;
  right: 20px;
}

