.contact-title,
.portfolio-title,
.h2 {
  margin-bottom: 10px;
}

.contact {
  .contact-section {
    .info-container {
      height: 525px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // align-items: space-between;
      // // flex-basis: 40%;
      margin-bottom: 20px;
      
      .info-content-container {
        //  // margin-bottom: 20px; 
        display: flex;
        // flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
          
        // // margin-right: 30px;   

       
          
        .contact-info {
          display: flex;
          width: 50px;
          justify-content: flex-start;
          // align-items: center;
          margin-right: 20px;

        }

        // .phone {
        //   // padding-top: 20px;

        // }

        // .e-mail {
            
        // }

        .social {
          margin: 0 auto;
          width: 200px;
          display: flex;
          justify-content: space-between;
          // align-content: space-between;
      }
      }
    }
  }
}

.contact-section {  
  // flex-direction: row;
  
  .info-container {
    // height: 525px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-content: space-between;
    // // flex-basis: 40%;
    // // margin-bottom: 20px;
  
    // .info-content-container {
    //   // // margin-bottom: 20px; 
    //   // display: flex;
    //   // flex-direction: column;
    //   // // justify-content: center;
    //   // // align-content: center;
    //   // padding: 20px;
        
    //   // // margin-right: 30px;   

    //   .contact-info {
    //     // display: flex;
    //     // width: 50px;
    //     // // justify-content: flex-start;
    //     // align-items: center;

    //     // .contact-info-icon {
    //     //   justify-content: center;
    //     //   align-items: center;
    //     // }
    //   }

    //   // .contact-info {
    //   //   // margin-left: 50px;
    //   // }

    //   // .contact-info-1 {
    //   //   margin-left: 20px;
    //   // }
      

      
    // }

    .social {
      flex-direction: row;
      justify-content: space-evenly;
      // padding: 20px;
      margin-bottom: 0px;
      // margin-right: 20px;
    }
  }
}

















// .contact-subtitle,
// .portfolio-subtitle {
//   display: block;
//   width: 80%;
//   margin-bottom: 50px;
//   // text-transform: uppercase;
// }

// .contact-section {  
//   // flex-direction: row;
  
//   .info-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     flex-basis: 40%;
  
//     .info-content-container {
//       display: flex;
//       flex-direction: column;      
//       margin-bottom: 20px;   
//       margin-right: 30px;   

//       .contact-info,
//       .contact-info-1 {
//         display: flex;
//         width: 50px;
//         justify-content: flex-start;
//         align-items: center;

//         .contact-info-icon {
//           justify-content: center;
//           align-items: center;
//         }
//       }

//       .contact-info {
//         margin-left: 50px;
//       }

//       .contact-info-1 {
//         margin-left: 20px;
//       }
      
//       .phone, .e-mail, .location {
//         padding: 20px;
//       }
      
//     }

//     .social {
//       justify-content: space-evenly;
//       padding: 20px;
//       margin-bottom: 0px;
//       // margin-right: 20px;
//     }
//   }
// }
