.contact-title,
.portfolio-title,
.h2 {
  margin-bottom: 10px;
}

.contact {
  .contact-section {
    .info-container {
      height: 525px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;
      
      .info-content-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
          
        .contact-info {
          display: flex;
          width: 50px;
          justify-content: flex-start;
          margin-right: 20px;
        }

        .social {
          margin: 0 auto;
          width: 200px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.contact-section {   
  .info-container {
    .social {
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 0px;
    }
  }
}