.form-container {
  height: 525px;
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  padding: 20px;
  border-radius: 15px;

  .form-element {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    resize: none;
    z-index: 5;
  }  
}