// 1. General
body {
  box-sizing: border-box;

  img {
    border-radius: 15px;
  }
}

// 2. Navegation
#nav-photo {
  border-radius: 50%;
  height: 60px;
}

// 3. Introduction
#intro-photo {
  width: 90%;
  max-height: 450px; 
}

// 4. Skills
.skills-logo,
.terminal {
  height: 70px;
}

.js-skills-logo,
.eclipse-skills-logo,
.node-skills-logo,
.asp-net-skills-logo,
.c-sharp, 
.terminal {
  height: 52px;
}

.API-skills-logo,
.responsive-skills-logo,
.linkedIn-logo {
  height: 50px;
}


// 5. Projects
.project-image-container {
  .project-image {
    width: 100%;
  }  
}

.modal-image-container {
  .project-detail-photo {
    width: 100%;
    margin: 10px;
    border-radius: 15px;
    justify-content: flex-end;
  }
}