.introduction {
  height: 65vh;
}

.text-container {
  // background-color: blue;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.text-details {
  // background-color: $primary;
  width: 100%;
  margin: 15px;
  padding: 30px;
}

.text-resume{
  display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: green;
  margin: 10px auto;
  height: 100px;
  width: 100%;
}


