nav.wrapper {
  justify-content: space-between;
  align-items: center;
  // position: fixed;
  // top: 0;
}

.header-left {
  width: 10%;
}

.header-right {
  width: 70%;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    li {
      text-align: right;
    }
  }
}
