nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .theo {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header-middle {
      width: 190px;
      .h2-nav {
        text-align: end;
      }
    }
  }

  .nav {
    width: 90%;
    padding: 10px 0 20px 0;
        
    .header-right {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
          text-align: center;
        }
      }
    }
  }
}