nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .theo {
    // width: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header-middle {
      width: 160px;
      .h2-nav {
        text-align: end;
      }
    }
  }

  .nav {
    width: 90%;
    // padding: 20px 0;
        
    .header-right {
      // width: 50%;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

//         li {
//           text-align: center;
//         }
      }
    }
  }
}