.portfolio {
  
}

.projects-container {
  justify-content: space-between;
}

.project {
  background-color: blue;
  width: 30%;
  padding: 20px;
  border-radius: 15px;
  
}

.project-image-container {  
  width: 100%;
}

.project-text-container {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  // background-color: red;
}

