

.projects-container {
  justify-content: space-between;
  flex-wrap: wrap; 

  .project {
    flex-basis: 45%;
    margin-bottom: 20px;
    padding: 20px 20px 0 20px;
    border-radius: 15px;

    .project-image-container {
      width: 100%;
      height: 300px;;
    }

    .project-text-container {
      width: 100%;
      margin-top: 15px;
      padding: 0 20px 20px 20px;

      .title {
        margin-top: 25px;
      }
    }
  }
}







//Modal for Project
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  /* Modal Content/Box */
  .modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */    

    .project-1-details,
    .project-2-details,
    .project-3-details,
    .project-4-details {
      flex-direction: column;      

      span {
        font-weight: bold;
        // margin-bottom: 15px;
      }

      .live-code {
        display: flex;
        flex-direction:  row;

      }

      p {
        margin-bottom: 15px;
      }
    }
  }
}

