.skills-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.a1 .technical-skills-list,
.a5 .technical-skills-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  li {
    width: 100px;
    flex-basis: 45%;
    padding: 10px;
  }
}

.a2 {  
  .skills-set-title {
    padding: 0 20px;
  }

  .a3 .technical-skills-list, 
  .a4 .technical-skills-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    li {
      width: 100px;
      flex-basis: 40%;
      padding: 10px;
    }
  }  
}

#programming-language,
#others {
  margin-bottom: 10px;
}

.a1,
.a3,
.a4,
.a5 {
  padding-top: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}