body {
  letter-spacing: 1.5px;
  font-family: 'Cairo', sans-serif;
}

i {
  font-size: 50px;
}

h1, h3 {
  font-family: 'Courgette', cursive;

}

.h2-nav {
  font-family: 'Rock Salt', cursive;
}



#aLink,
#h4Text {
  font-style: italic;
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.scale-up {
  font-size: 70px;
}