body {
  letter-spacing: 1.5px;
}

.h2 {
  display: block;
  width: 80%;
  margin-bottom: 50px;
  text-transform: uppercase;
}


i {
  font-size: 50px;
}

#aLink,
#h4Text {
  font-style: italic;
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.scale-up {
  font-size: 70px;
}