body {
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-family: 'Cairo', sans-serif;
  font-size: 0.9rem;
}

i {
  font-size: 50px;
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 1.7em;
}

h3 {
  font-family: 'Courgette', cursive;
  font-size: 1.3em;
}

.h2-nav {
  font-family: 'Rock Salt', cursive;
  font-size: 1rem;
}

#aLink,
#h4Text {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.scale-up {
  font-size: 70px;
}