.skills-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.technical-skills-list {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
}

// ul .technical-skills-item
li {
  width: 100px;
  flex-basis: 16%;
  padding: 10px;

  // background-size: 100% 100%;
}

#programming-language,
#others {
  margin-bottom: 10px;
}


.a1,
.a3,
.a4,
.a5 {
  padding-top: 20px;
  border-radius: 15px;
}

.a1 {
  margin-bottom: 40px;
  
}
.a2 {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
}
.a3 {
  width: 30%;
}
.a4 {
  width: 40%;  
}
