/* 1. General */
// .center {
//     margin: 0 auto;
// }

li {
  padding-left: 0px;
}

/* 2. Carourselof Images */
.carousel {
    position: relative;
    // overflow: hidden;
    // object-fit: cover;
    // min-height: 180px;
    // max-height: 380px;
    width: 100%;
       // width: 90vw;
    // width: 200px;

    // height: auto;
    //  height: 100%;
    height: 210px;


    // min-height: 180px;
    // max-height: 380px;
 

    // margin: 0 auto;

    // .carousel_track_container {
        // background-color: rgb(19, 206, 100);
        // padding: 10px;
        // height: 100%;
        // position: relative;
        // top: -30px;
        // overflow: hidden;

       
    
        .carousel_track {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // display: flex;

            
            // width: 100%;
            // height: 100%;
            // padding: 0;
            // margin: 0;
            // list-style: none;
            // position: relative;
            // height: 100%;
            // transition: transform 250ms easy-in;

            
        
            .carousel_slide {
                position: absolute;
                // top: 650px;
                // left: 0;
                // width: 100%;
                // min-height: 180px;
                // max-height: 380px;
                // width: 100%;

                .carousel_image {
                    width: 100%;
                    // width: 200px;
                    height: 100%;
                    // object-fit: cover;   
                }
            }
        }
    // }
        .buttons {

        }
}



// /* 3. Buttons */
.carousel_button {
    position: relative;
    top: 0;
    // transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button_left {
    left: 0;
}

.carousel_button_right {
    right: 0;
}

.carousel_button img {
    width: 12px;

}

// /* 4. Dot Nav */
// .carousel_nav {
//     display: flex;
//     justify-content: center;
//     padding: 10px 0;
// }

// .carousel_indicator {
//     border: 0;
//     border-radius: 50%;
//     width: 15px;
//     height: 15px;
//     background-color: rgba(0, 0, 0, .3);
//     margin: 0 12px;
//     cursor: pointer;
// }

// .carousel_indicator.current_slide {
//     background-color: rgba(0, 0, 0, .75);
// }

/* 4. Image */
// img {
//     height: 350px;
//     width: 200px;
// }

// .is-hidden {
//     display: none;
// }