* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

li {
  list-style-type: none;
  padding-left: 10px;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.separation {
  margin: 40px 0;
}
.separation .line {
  display: block;
  width: 80%;
}

.center {
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under-construction {
  text-align: center;
  color: red;
}

* {
  background-color: #222428;
}

.button-like,
.download-resume,
.project {
  background-color: #C7CEDE;
  color: #CC294C;
}

a {
  color: #C7CEDE;
}

.project {
  background-color: #222428;
}

.h2 {
  color: #C7CEDE;
}

.shadow {
  -webkit-box-shadow: 15px 15px 15px #141618;
          box-shadow: 15px 15px 15px #141618;
}

.separation .line {
  border-bottom: 2px solid #CC294C;
}

.h2 {
  display: block;
  width: 80%;
  margin-bottom: 50px;
  text-transform: uppercase;
}

i {
  font-size: 50px;
}

#nav-photo {
  border-radius: 50%;
  height: 60px;
}

#intro-photo {
  width: 80%;
  margin: 20px;
}

.project-image-container .project-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-image-container img {
  border-radius: 15px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav.wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left {
  width: 10%;
}

.header-right {
  width: 70%;
}

.header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introduction {
  height: 85vh;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.text-details {
  margin: 30px;
  padding: 30px;
}

.text-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  height: 100px;
  width: 90%;
}

.button-like,
.download-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin: 20px;
  padding: 10px;
  width: 150px;
  height: 50px;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.technical-skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

li {
  width: 100px;
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
  padding: 10px;
}

.projects-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project {
  width: 30%;
  padding: 20px;
  border-radius: 15px;
}

.project-image-container {
  width: 100%;
}

.project-text-container {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}