html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

li {
  list-style-type: none;
  padding-left: 10px;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.separation {
  margin: 40px 0;
}
.separation .line {
  display: block;
  width: 90%;
}

.center {
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h2 {
  display: block;
  width: 80%;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.md-device {
  display: none;
}

.title {
  width: 90%;
  margin-bottom: 30px;
}

body {
  background-color: #efcbab;
  color: #2d1c07;
}
body .italic {
  color: #ff5100;
}
body header {
  background-color: #74492d;
}
body footer {
  color: #f1e0cb;
  background-color: #74492d;
}
body h1,
body .h2,
body .h2-nav {
  color: #ff5100;
}
body .background-2 {
  background-color: #fcd7be;
  border-radius: 15px;
}
body .button-like,
body .download-resume,
body .submit-form,
body .project-details {
  background-color: #2d1c07;
  color: #f1e0cb;
}
body .button-like:hover,
body .download-resume:hover,
body .submit-form:hover,
body .project-details:hover {
  background-color: #f0a46d;
  color: #2d1c07;
}
body a {
  color: #f1e0cb;
}
body a:hover {
  color: #ff5100;
}
body #aLink {
  color: #2d1c07;
}
body #aLink:hover {
  background-color: #f0a46d;
  color: #f1e0cb;
}
body .shadow {
  -webkit-box-shadow: 5px 5px 5px #9d9795;
          box-shadow: 5px 5px 5px #9d9795;
}
body .home-arrow {
  color: #ff5100;
}
body .home-arrow:hover, body .home-arrow:focus {
  color: #f0a46d;
}

.separation .line {
  border-bottom: 2px solid #2d1c07;
}

.a1,
.a3,
.a4,
.a5 {
  background-color: #fcd7be;
}

.carousel_button_left,
.carousel_button_right {
  color: #2d1c07;
  background-color: #fcd7be;
}

.project {
  background-color: #fcd7be;
}

.project-image {
  background-color: #74492d;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  background-color: #fcd7be;
  border: 1px solid #9d9795;
  /* The Close Button */
}
.modal .modal-content .disabled {
  background-color: #9d9795;
}
.modal .modal-content .disabled:hover {
  background-color: #9d9795;
}
.modal .modal-content .close {
  color: #2d1c07;
}
.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: #ff5100;
}

.contact-section .contact-info,
.contact-section .name {
  color: #2d1c07;
}
.contact-section .form-container {
  background-color: #fcd7be;
}

.name {
  color: #2d1c07;
}

body {
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-family: "Cairo", sans-serif;
  font-size: 0.9rem;
}

i {
  font-size: 50px;
}

h1 {
  font-family: "Courgette", cursive;
  font-size: 1.7em;
}

h3 {
  font-family: "Courgette", cursive;
  font-size: 1.3em;
}

.h2-nav {
  font-family: "Rock Salt", cursive;
  font-size: 1rem;
}

#aLink,
#h4Text {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.scale-up {
  font-size: 70px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body img {
  border-radius: 15px;
}

#nav-photo {
  border-radius: 50%;
  height: 60px;
}

#intro-photo {
  width: 90%;
  max-height: 450px;
}

.skills-logo,
.terminal {
  height: 70px;
}

.js-skills-logo,
.eclipse-skills-logo,
.node-skills-logo,
.asp-net-skills-logo,
.c-sharp,
.terminal {
  height: 52px;
}

.API-skills-logo,
.responsive-skills-logo,
.linkedIn-logo {
  height: 50px;
}

.project-image-container .project-image {
  width: 100%;
}

.modal-image-container .project-detail-photo {
  width: 100%;
  margin: 10px;
  border-radius: 15px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* 1. General */
li {
  padding-left: 0px;
}

/* 2. Carourselof Images */
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel .carousel_track {
  position: relative;
  height: 100%;
  -webkit-transition: 250ms -webkit-transform ease-in;
  transition: 250ms -webkit-transform ease-in;
  transition: 250ms transform ease-in;
  transition: 250ms transform ease-in, 250ms -webkit-transform ease-in;
}
.carousel .carousel_track .carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}
.carousel .carousel_track .carousel_slide .carousel_image {
  width: 97%;
  height: 97%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .carousel_track .current_slide {
  opacity: 1;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  z-index: 10;
}

/* 3. Buttons */
.carousel_button {
  position: relative;
  top: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.carousel_button:hover {
  opacity: 0.5;
}

.carousel_button_left {
  left: 0;
}

.carousel_button_right {
  right: 0;
}

.carousel_button img {
  width: 12px;
}

.is-hidden {
  opacity: 0.2;
}

nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .theo {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .theo .header-middle {
  width: 190px;
}
nav .theo .header-middle .h2-nav {
  text-align: end;
}
nav .nav {
  width: 90%;
  padding: 10px 0 20px 0;
}
nav .nav .header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .nav .header-right ul li {
  text-align: center;
}

#introduction-start {
  padding-top: 20px;
}

.introduction {
  width: 90%;
}
.introduction .text-container {
  width: 90%;
  padding-bottom: 20px;
}
.introduction .text-container .text-details {
  width: 100%;
  height: 600px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.introduction .text-container .text-details .text-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.introduction .image-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.introduction .image-container .buttons {
  z-index: 10;
  margin-bottom: 10px;
}
.introduction .image-container .carousel {
  z-index: 2;
}

.button-like,
.download-resume,
.submit-form,
.project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

.introduction-arrow {
  font-size: 1.9em;
}

.home-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 50;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.a1 .technical-skills-list,
.a5 .technical-skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.a1 .technical-skills-list li,
.a5 .technical-skills-list li {
  width: 100px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 10px;
}

.a2 .skills-set-title {
  padding: 0 20px;
}
.a2 .a3 .technical-skills-list,
.a2 .a4 .technical-skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.a2 .a3 .technical-skills-list li,
.a2 .a4 .technical-skills-list li {
  width: 100px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 10px;
}

#programming-language,
#others {
  margin-bottom: 10px;
}

.a1,
.a3,
.a4,
.a5 {
  padding-top: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.projects-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects-container .project {
  margin-bottom: 20px;
  padding: 20px 20px 0 20px;
  cursor: pointer;
}
.projects-container .project:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.projects-container .project .project-text-container {
  width: 100%;
  margin-top: 15px;
  padding: 0 20px 20px 20px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* Modal Content/Box */
}
.modal .modal-content {
  margin: 30px auto;
  padding: 20px;
  width: 70%;
  /* Could be more or less, depending on screen size */
}
.modal .modal-content .project-1-details,
.modal .modal-content .project-2-details,
.modal .modal-content .project-3-details,
.modal .modal-content .project-4-details,
.modal .modal-content .project-5-details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal .modal-content .project-1-details h4.title,
.modal .modal-content .project-2-details h4.title,
.modal .modal-content .project-3-details h4.title,
.modal .modal-content .project-4-details h4.title,
.modal .modal-content .project-5-details h4.title {
  margin-bottom: 0;
}
.modal .modal-content .project-1-details span,
.modal .modal-content .project-2-details span,
.modal .modal-content .project-3-details span,
.modal .modal-content .project-4-details span,
.modal .modal-content .project-5-details span {
  font-weight: bold;
}
.modal .modal-content .project-1-details .live-code,
.modal .modal-content .project-2-details .live-code,
.modal .modal-content .project-3-details .live-code,
.modal .modal-content .project-4-details .live-code,
.modal .modal-content .project-5-details .live-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal .modal-content .project-1-details p,
.modal .modal-content .project-2-details p,
.modal .modal-content .project-3-details p,
.modal .modal-content .project-4-details p,
.modal .modal-content .project-5-details p {
  margin-bottom: 15px;
}

.contact-title,
.portfolio-title,
.h2 {
  margin-bottom: 10px;
}

.contact .contact-section .info-container {
  height: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.contact .contact-section .info-container .info-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.contact .contact-section .info-container .info-content-container .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 20px;
}
.contact .contact-section .info-container .info-content-container .social {
  margin: 0 auto;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-section .info-container .social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 0px;
}

.form-container {
  height: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 20px;
  border-radius: 15px;
}
.form-container .form-element {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  resize: none;
  z-index: 5;
}

footer {
  padding: 20px;
  margin-top: 20px;
}

@media (min-width: 300px) {
  .introduction .image-container .carousel {
    height: 200px;
  }
}
@media (min-width: 325px) {
  .introduction .image-container .carousel {
    height: 260px;
  }
}
@media (min-width: 350px) {
  .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .introduction .image-container .carousel {
    height: 280px;
  }
}
@media (min-width: 400px) {
  nav .theo .header-middle {
    width: 200px;
  }
  nav .theo .header-middle .h2-nav {
    font-size: 1.3rem;
  }

  .introduction .text-container .text-details {
    height: 500px;
  }
  .introduction .image-container .carousel {
    height: 300px;
  }
}
@media (min-width: 450px) {
  .introduction .image-container .carousel {
    height: 320px;
  }
}
@media (min-width: 500px) {
  .sm-device {
    display: none;
  }

  .md-device {
    display: initial;
  }

  nav .theo .header-middle {
    width: 260px;
  }
  nav .theo .header-middle .h2-nav {
    font-size: 1.5rem;
  }

  .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .introduction .text-container .text-details {
    height: 450px;
  }
  .introduction .image-container .carousel {
    height: 355px;
  }
  .introduction .image-container .introduction-arrow {
    font-size: 2em;
  }

  .skills .a1 .technical-skills-list li,
.skills .a5 .technical-skills-list li {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .skills .a2 .a3 .technical-skills-list li,
.skills .a2 .a4 .technical-skills-list li {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }

  .contact .contact-section .info-container .info-content-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact .contact-section .info-container .info-content-container .contact-info {
    margin-right: 20px;
  }
  .contact .contact-section .info-container .info-content-container .e-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-section .info-container .info-content-container .social {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
}
@media (min-width: 550px) {
  .introduction .image-container .carousel {
    height: 380px;
  }
}
@media (min-width: 600px) {
  nav .nav {
    width: 550px;
  }

  .introduction .text-container .text-details {
    height: 400px;
  }
  .introduction .text-container .text-details .text-resume {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .introduction .text-container .text-details .text-resume a {
    margin: 0 10px;
  }
  .introduction .image-container .carousel {
    height: 420px;
  }

  .contact .contact-section .info-container .info-content-container .social {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 650px) {
  .introduction .image-container .carousel {
    height: 440px;
  }
}
@media (min-width: 720px) {
  .introduction .image-container .carousel {
    height: 490px;
  }
}
@media (min-width: 820px) {
  nav.wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .theo {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    padding: 20px 0 15px 0;
  }
  nav .nav {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
  }

  .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .introduction .text-container {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .introduction .text-container .text-details {
    height: 450px;
  }
  .introduction .image-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-height: 450px;
  }
  .introduction .image-container .introduction-arrow {
    font-size: 2.5em;
  }
  .introduction .image-container.center {
    margin-left: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .skills .a2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills .a2 .a3,
.skills .a2 .a4 {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .skills .a1 .technical-skills-list li,
.skills .a3 .technical-skills-list li,
.skills .a4 .technical-skills-list li,
.skills .a5 .technical-skills-list li {
    -ms-flex-preferred-size: 16%;
        flex-basis: 16%;
  }

  .projects-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects-container .project {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }

  .modal .modal-content .project-1-details .live-code,
.modal .modal-content .project-2-details .live-code,
.modal .modal-content .project-3-details .live-code,
.modal .modal-content .project-4-details .live-code,
.modal .modal-content .project-5-details .live-code {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .modal .modal-content .project-1-details .live-code a,
.modal .modal-content .project-2-details .live-code a,
.modal .modal-content .project-3-details .live-code a,
.modal .modal-content .project-4-details .live-code a,
.modal .modal-content .project-5-details .live-code a {
    margin: 0 10px;
  }

  .contact .contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact .contact-section .info-container {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .contact .contact-section .info-container .info-content-container .social {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .contact-section .form-container {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
@media (min-width: 900px) {
  .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .introduction .image-container .introduction-arrow {
    font-size: 2.5em;
  }
}